version: "0"
services:
  zatstore:
    container_name: zat_shop_next
    build: .
    environment:
      - NODE_ENV=development
    volumes:
      - ./:/app
      - /app/node_modules
      - /app/.next
    ports:
      - "3000:3000"